<div class="modal fade" id="addPinModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add new pin</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #form="ngForm">
                <div class="row">
                  <div class="col">
                    
                  </div>
                  <div class="col">
                        <div class="form-group">
                          <label class="col-form-label" for="description">Add a description</label>
                          <input name="description" [(ngModel)]="pin.description" type="text" class="form-control" id="description" placeholder="Description...">
                        </div>
                        <div class="form-group">
                          <label class="col-form-label" for="websiteUrl">Link to website</label>
                          <input name="url" [(ngModel)]="pin.url" required type="url" class="form-control" id="websiteUrl" placeholder="http://">
                        </div>
                  </div>
                </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addPin()" [disabled]="form.invalid">Save changes</button>
        </div>
      </div>
    </div>
  </div>