<div class="modal fade" id="selectedPinModal" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
           <img class="selectedPin img-responsive" *ngIf="selectedPin" src="{{selectedPin.url}}" >
        </div>
      </div>
    </div>
</div>
<!--add pin modal-->
<add-pin-modal></add-pin-modal>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Pinterest</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" role="button" data-toggle="modal" data-target="#addPinModal">Add Pin</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="gal">
                <div class="img" *ngFor="let pin of pins" data-toggle="modal" data-target="#selectedPinModal" (click)=setSelectedPin(pin)>
                    <img src="{{pin.url}}" alt="{{pin.description}}" title="{{pin.description}}">
                    <div class="img-label"></div>
                </div>
            </div>
        </div>
    </div>
</div>